body {
    padding-top: 90px;
}

/*common styles*/
.hovered {
    cursor: pointer;
}

.phonesList .phoneImg {
    height: 250px;
}
.phonesList .phoneName {
    overflow: hidden;
    height: 52px;
}
.phonesList .phoneSnippet {
    overflow: hidden;
    height: 120px;
}

.titleHeader {
    background: url('../img/title.jpg') no-repeat;
    background-size: 100%;
}

.pagination-container {
    text-align: center;
}

.product-main-photo {
    margin-bottom: 5px;
}

.product-photo {
    cursor: pointer;
    margin-right: 3px;
}


/*cart*/
.cartItemsList .cartItemImage {
    /*margin-bottom: 0px;*/
}

.cartItemsList .cartItem {
    display: table;
}

.cartItemsList h3 {
    margin-top: 30px;
}

.cartItemsList .cartItemQnt {
    margin-top: 30px;
}

.cartItemsList h4 {
    margin-top: 35px;
}

.cartItemsList .removeItem {
    margin-top: 35px;
}

.productThumbnail {
    -webkit-transition: 1s;
}

.productThumbnail.ng-enter {
    opacity: 0;

}
.productThumbnail.ng-enter.ng-enter-active {
    opacity: 1;
}
.productThumbnail.ng-leave {
    opacity: 1;
}
.productThumbnail.ng-leave.ng-leave.ng-leave-active {
    opacity: 0;
}


