body {
    padding-top: 70px;
}

.phonesList .phoneImg {
    height: 250px;
}
.phonesList .phoneName {
    overflow: hidden;
    height: 52px;
}
.phonesList .phoneSnippet {
    overflow: hidden;
    height: 120px;
}

.titleHeader {
    background: url('../img/title.jpg') no-repeat;
    background-size: 100%;
}