<div class="row" ng-controller="CartController">
    <form class="form-horizontal" name="userForm" ng-submit="submitCart()">

        <div class="form-group has-feedback"
             ng-class="{
                'has-success': !userForm.userSurname.$error.minlength,
                'has-error': userForm.userSurname.$error.minlength
             }">
            <label for="inputSurname" class="col-sm-2 control-label">Surname</label>
            <div class="col-sm-6">
                <input type="text"
                       id="inputSurname"
                       class="form-control"
                       name="userSurname"
                       placeholder="surname"
                       ng-model="order.user.surname"
                       ng-trim="true"
                       ng-pattern="/^[a-z,A-Z]+$/g">
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true" ng-show="userForm.userSurname.$valid"></span>
                {{userForm.userSurname.$error}}
                <span id="inputSuccess2Status" class="sr-only">(success)</span>
            </div>
        </div>

        <div class="form-group">
            <label for="inputName" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputName" placeholder="name" ng-model="order.user.name">
            </div>
        </div>

        <div class="form-group">
            <label for="inputAddress" class="col-sm-2 control-label">Address</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="inputAddress" placeholder="address" ng-model="order.user.address">
            </div>
        </div>

        <div class="form-group">
            <label for="inputMail" class="col-sm-2 control-label">Mail</label>
            <div class="col-sm-6">
                <input type="email" class="form-control" id="inputMail" placeholder="email" ng-model="order.user.email">
            </div>
        </div>

        <div class="form-group">
            <label for="inputPhone" class="col-sm-2 control-label">Phone</label>
            <div class="col-sm-6">
                <input type="text"
                        class="form-control"
                        id="inputPhone"
                        placeholder="phone"
                        ng-model="order.user.phone"
                        ng-minlength="10">
            </div>
        </div>

        <div class="form-group">
            <label for="inputDesc" class="col-sm-2 control-label">Description</label>
            <div class="col-sm-6">
                <textarea type="text" class="form-control" id="inputDesc" ng-model="order.user.description"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Send me emails
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <input type="submit" class="btn btn-default" value="Buy" ng-disabled="userForm.$invalid">
            </div>
        </div>
    </form>
</div>