<div class="row row-offcanvas row-offcanvas-right">

    <div class="col-xs-12 col-sm-9">
        <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
        </p>
        <div class="jumbotron jumbotronContainer titleHeader">
            <h1>Best phones!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam aliquid beatae culpa debitis dignissimos dolorem facilis in labore necessitatibus nobis nulla odio, provident quae, quasi quisquam repudiandae sit totam voluptas?</p>
        </div>

        <div class="row phonesList" ng-controller="ProductsListController">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="input-group input-group input-group-sm col-lg-3 pull-right">
                            <span class="input-group-addon">Products</span>
                            <select type="text" class="form-control" ng-model="qntProducts" ng-change="changeQuantity()">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                            </select>
                            <span class="input-group-addon">on page</span>
                        </div>
                        <!--<h2 ng-bind="Math.ceil(phones.length / qntProducts)"></h2>-->
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 productThumbnail" ng-repeat="phone in phones | filter:filterParam | limitTo:qntProducts">
                <div class="thumbnail">
                    <span ng-class="{'label label-success': phone.stock, 'label label-danger': !phone.stock}">{{phone.stock?"yes":"no"}}</span>
                    <img class="phoneImg" src="{{phone.imageUrl}}" alt="{{phone.name}}">
                    <div class="caption">
                        <h3 class="phoneName">{{phone.name}}</h3>
                        <p class="phoneSnippet">{{phone.snippet}}</p>
                        <p><a href="#/phones/{{phone.id}}" class="btn btn-info" role="button">more -></a></p>
                    </div>
                </div>
            </div><!--/.col-xs-6.col-lg-4-->
        </div><!--/row-->
        <nav class="pagination-container">
            <ul class="pagination pagination-sm">
                <li ng-class="{'disabled':currentPage===0}">
                    <a href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <div build-pagination pagination-number="Math.ceil(phones.length / qntProducts)"></div>
                <!--<li ng-repeat="i in Array(Math.ceil(phones.length / qntProducts))">-->
                    <!--<a href="#">{{ i +1  }}</a>-->
                <!--</li>-->

                <li>
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div><!--/.col-xs-12.col-sm-9-->

    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-success">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
        </div>
        <div class="input-group input-group-sm ">
            <span class="input-group-addon" id="basic-addon1">Filter</span>
            <input type="text" class="form-control" placeholder="enter string" aria-describedby="basic-addon1" ng-model="filterParam">
        </div>
        <p class="help-block" ng-show="filterParam">You try to find phone with: {{filterParam}}</p>
    </div><!--/.sidebar-offcanvas-->
</div><!--/row-->